<% is_user = (message.role == "user") %>

<div class="d-flex mb-2 <%= is_user ? "justify-content-end" : "justify-content-start" %>">
 <div class="<%= is_user ? "" : "chat-bubble chat-bubble-assistant" %>">

    <div class="<%= is_user ? "bg-white px-3 pb-1 pt-3 rounded-pill" : "" %>">
      <%= raw(render_markdown(message.content)) %>
    </div>

    <% if is_user && message.file.attached? %>
      <div class="ps-3 pt-1">
        <strong>File:</strong>
        <%= link_to message.file.filename, rails_blob_path(message.file, disposition: "attachment") %>
      </div>
    <% end %>

  </div>
</div>
