<%= turbo_stream_from "chat_#{@chat.id}" %>

<div class="chat-page py-3">
  <div class="chat-wrapper mx-auto">

    <%= link_to watch_session_path(@chat.watch_session), class: "chat-back-link" do %>
      <i class="fa-solid fa-chevron-left"></i>
      <%= @chat.watch_session.title %>
    <% end %>

    <h1 class="chat-page-title" id="chat_title"><%= @chat.title %></h1>

    <div class="row g-3 align-items-start">
      <div class="col-lg-8">
        <div class="chat-shell" data-controller="chat-scroll">
          <div class="chat-messages" id="messages" data-chat-scroll-target="messages">
            <%= render partial: "messages/message", collection: @messages, as: :message %>
          </div>

          <div class="chat-composer" id="new_message_container">
            <%= render "messages/form", chat: @chat, message: @message %>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div id="recommended_panel">
          <%= render "recommended_films/panel", chat: @chat, recommended_films: @recommended_films %>
        </div>
      </div>
    </div>

  </div>
</div>
